/.idea/
/venv/
/__pycache__/
Fundamentional.ipynb
/*/original/
/*/hh_demographic.csv
/*/product.csv
/*/retail_train.csv
draft.ipynb
hw1/webinar_1_new.ipynb
hw2/webinar_2_new.ipynb
/hw4/webinar_4_new.ipynb
